<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
		.set{margin-top:100px;}
	</style>
</head>
<body ng-app="test">
	<form ng-controller="myContr" name="myForm" class="container set form-horizontal">
		<div class="form-group" ng-class="{'has-error':myForm.email.$dirty&&myForm.email.$invalid}">
		    <label class="col-sm-2" class="control-label">密码</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" ng-required="true" ng-minlength="5" name="email" ng-model="email">
		    	<div class="alert alert-danger help-block" ng-show="myForm.email.$error.minlength">
		    		用户名长度不合格
		    	</div>
		    </div>
		</div>
		<div class="form-group" ng-class="{'has-error':myForm.email1.$dirty&&myForm.email1.$invalid}">
		    <label class="col-sm-2" class="control-label">确认密码</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" ng-required="true" name="email1" ng-model="email1">
		    	<div class="alert alert-danger help-block" ng-show="myForm.email1.$dirty&&myForm.email.$dirty&&email!=email1">
		    		密码不一致
		    	</div>
		    </div>
		</div>
	</form>
<script src="js/angular.js"></script>
<script>
	var app=angular.module('test',[]);
	app.controller('myContr',['$scope',function($scope){
		
	}]);
</script>
</body>
</html>