<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular.js"></script>
</head>
<body ng-app="test">
	<div ng-controller="myContr">
		<input type="text" ng-model="name"/>
		<input type="text" ng-model="age"/>
		<div ng-bind="name"></div>
		<div ng-bind="age"></div>
		{{name}}
		{{age}}
	</div>
<script>
	alert(1)
	//当执行这个时会阻断程序，页面会显示{{name}},用户体验不好，而ng-bind则不会出现这样的问题，ng-bind就是呈现数据到哪去
</script>
<script>
	var app=angular.module('test',[]);
	app.controller('myContr',function($scope){
		$scope.name='张珊';
		$scope.age=18;

	});
</script>
</body>
</html>
